:root {
    --color-primary-main: #D10073;
    --color-primary-light: #F1C3D9;
    --color-primary-dark: #820040;

    --color-success-main: #37943b;
    --color-success-dark: #25742b;

    --color-whatsapp-main: #25D366;
    --color-whatsapp-dark: #21b457;

    --color-white: #ffffff;
    --color-black: #000000;
}