@use './breakpoints';

%h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;

  @include breakpoints.mq(tabletLandscape) {
    font-size: 48px;
  }
}

%h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;

  @include breakpoints.mq(tabletLandscape) {
    font-size: 42px;
  }
}

%h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}

%body {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

%body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

%body-large {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

body {
  @extend %body-large;
}